// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors - https://colornames.org/
$anercen-color: #feefbb;
$fantasy-color: #f8ecea;
$lazer-white-color: #fcf9fa;

$accent-color: #2fadfd;
$brand-color-2: #ff0000;
$brand-color-3: #0a0f34;
$dark-color: #202020;
$dark-brown-color: #665936;